.status {
    padding: 4px 8px;
    color: #fff;
    border-radius: 3px;
    margin-right: 8px;
}

.status-closed {
    background-color: #bc2b00;
}

.status-open {
    background-color: #6bc543;
}

.projects-button {
    margin-left: 20px;
}

.profile-picture {
    margin-top: 5px;
    height: 45px;
    width: 45px;
    border-radius: 10%;
}

.add-project-dialog, .add-todo-dialog {
    min-width: 500px;
    margin: 10px;
}

.honeypot-logo {
    height: 50px;
    width: 50px;
}

.small-profile-picture {
    height: 20px;
    width: 20px;
    border-radius: 10%;
    vertical-align: middle;
}