section {
    width: 99%;
	height: 87%;
    float: left;
}

@media screen and (min-width: 1200px) {
    section {
        width: 49%;
		overflow: auto;
    }
}

.event-icons {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 5px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Temporary dirty fix. We need the md-contact-chips or just fully colored ones */
md-chip md-icon {
    margin-bottom: 4px;
}
.label {
    color: #fff;
}
