#content_left {
    float: left;
}

#content_right {
    float: right;
}

.event-icons {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 5px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}