<div class="add-dialog" ng-class="fullscreen == false ? 'add-dialog-min-width' : ''">
    <h2>Add new label</h2>
    <md-input-container class="md-block">
        <label>Name</label>
        <input ng-model="label_name" required>
    </md-input-container>
    <div md-color-picker ng-model="label_color" label="Color"></div>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="cancel()">
            Cancel
        </md-button>
        <md-button class="md-primary md-raised" ng-click="submit(label_name, label_color)">
            Submit
        </md-button>
    </md-dialog-actions>
</div>