<div class="add-label-dialog">
    <h2>Add new label</h2>
    <md-input-container class="md-block">
        <label>Name</label>
        <input ng-model="label_name" required>
    </md-input-container>
    <md-input-container class="md-block">
        <label>Color</label>
        <div md-color-picker ng-model="label_color"></div>
    </md-input-container>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="cancel()">
            Cancel
        </md-button>
        <md-button class="md-primary md-raised" ng-click="submit(label_name, label_color)">
            Submit
        </md-button>
    </md-dialog-actions>
</div>