<div class="add-todo-dialog">
    <h2>Add new todo</h2>
    <md-input-container class="md-block">
        <label>Name</label>
        <input ng-model="project_name">
    </md-input-container>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="write">
            <md-input-container class="md-block">
                <label>Description</label>
                <textarea ng-model="project_description"></textarea>
            </md-input-container>
        </md-tab>
        <md-tab label="preview">
            <p ng-show="project_description != null" markdown-to-html="project_description"></p>
            <p ng-show="project_description == null">Nothing to preview.</p>
        </md-tab>
    </md-tabs>
    <!--<md-input-container class="md-block" flex-gt-sm>
            <label>Asignee</label>
            <md-select ng-model="selected_asignee">
              <md-option ng-repeat="user in users" value="{{user.id}}">
                {{user.name}}
              </md-option>
            </md-select>

    </md-input-container>-->
    <!--<label>Asignee</label>-->
    <md-autocomplete
            md-selected-item="selectedItem"
            md-search-text-change="get_users(searchText)"
            md-search-text="searchText"
            md-items="user in users"
            md-item-text="user.name"
            <!--md-min-length="0"-->
            placeholder="Asignee">
        <md-item-template>
            <img ng-src="https://avatars.githubusercontent.com/u/{{user.id}}?s=10" class="small-profile-picture">
            <span md-highlight-text="searchText" md-highlight-flags="^i">{{user.name}}</span>
        </md-item-template>
        <md-not-found>
            No user matching "{{ctrl.searchText}}" was found.
        </md-not-found>
    </md-autocomplete>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="cancel()">
            Cancel
        </md-button>
        <md-button class="md-primary md-raised" ng-click="submit(title, description, selectedItem)"
                   style="margin-right:20px;">
            Submit
        </md-button>
    </md-dialog-actions>
    <!--<md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date">-->
</div>