<div class="add-dialog" ng-class="fullscreen == false ? 'add-dialog-min-width' : ''">
    <h2>Add new milestone</h2>
    <md-input-container class="md-block">
        <label>Name</label>
        <input ng-model="milestone_name">
    </md-input-container>
    <h4>Due Date</h4>
    <md-datepicker ng-model="milestone_duedate" md-placeholder="Enter date"></md-datepicker>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="write">
            <md-input-container class="md-block">
                <label>Description</label>
                <textarea ng-model="milestone_description"></textarea>
            </md-input-container>
        </md-tab>
        <md-tab label="preview">
            <p ng-show="milestone_description != null" markdown-to-html="milestone_description"></p>
            <p ng-show="milestone_description == null">Nothing to preview.</p>
        </md-tab>
    </md-tabs>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="cancel()">
            Cancel
        </md-button>
        <md-button class="md-primary md-raised" ng-click="submit(milestone_name, milestone_description, milestone_duedate)">
            Submit
        </md-button>
    </md-dialog-actions>
</div>