<div class="add-todo-dialog">
    <h2>Add new todo</h2>
    <md-input-container class="md-block">
        <label>Name</label>
        <input ng-model="title">
    </md-input-container>
    <md-autocomplete
            md-selected-item="asignee"
            md-search-text-change="get_users(searchText)"
            md-search-text="searchText"
            md-items="user in users_filtered"
            md-item-text="user.name"
            md-floating-label="Asignee"
            placeholder="Asignee">
        <md-item-template>
            <img ng-src="https://avatars.githubusercontent.com/u/{{user.id}}?s=10" class="small-profile-picture">
            <span md-highlight-text="searchText" md-highlight-flags="^i">{{user.name}}</span>
        </md-item-template>
        <md-not-found>
            No user matching "{{searchText}}" was found.
        </md-not-found>
    </md-autocomplete>
    <md-autocomplete
            md-selected-item="milestone"
            md-search-text-change="get_milestones(milestone_searchText)"
            md-search-text="milestone_searchText"
            md-items="milestone in milestones"
            md-item-text="milestone.title"
            md-floating-label="Milestone"
            placeholder="Milestone">
        <md-item-template>
            <span md-highlight-text="milestone_searchText" md-highlight-flags="^i">{{milestone.title}}</span>
        </md-item-template>
        <md-not-found>
            No milestone matching "{{milestone_searchText}}" was found.
        </md-not-found>
    </md-autocomplete>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="write">
            <md-input-container class="md-block">
                <label>Description</label>
                <textarea ng-model="description"></textarea>
            </md-input-container>
        </md-tab>
        <md-tab label="preview">
            <p ng-show="description != null" markdown-to-html="description"></p>
            <p ng-show="description == null">Nothing to preview.</p>
        </md-tab>
    </md-tabs>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="cancel()">
            Cancel
        </md-button>
        <md-button class="md-primary md-raised" ng-click="submit(title, description, asignee.id, milestone.id)">
            Submit
        </md-button>
    </md-dialog-actions>
</div>