<div ng-controller="ProjectsController">
    <md-content>
        <h2>All Projects</h2>
        <md-button ng-click="add_project()" class="md-raised md-primary">Add project</md-button>
        <md-divider></md-divider>
        <md-list>
            <div ng-repeat="project in projects">
                <md-list-item ng-href="#/project/{{ project.id }}">
                    <div class="status" ng-class="project.status == 0 ? 'status-open' : 'status-closed'">{{
                        status_strings[project.status] }}
                    </div>
                    <p> {{ project.title }} </p>
                    <p class="md-secondary">#{{ project.id }}</p>
                </md-list-item>
            </div>
        </md-list>
    </md-content>
</div>