<div>
    <a href="#/project/{{ project_id }}">Back</a>
    <h2>{{ todo.title }}</h2>
    <p>Todo Nr. {{ id }}</p>
    <p markdown-to-html="todo.description"></p>
    <p>Status: {{ status_strings[todo.status] }}</p>
    <p>Milestone: <a href="#/project/{{ project_id }}/milestone/{{ todo.milestone }}">{{ todo.milestone }}</a></p>
    <p>Asignee: {{ users[todo.asignee].name }}</p>
    <md-divider></md-divider>
    <h2>Labels</h2>
    <div ng-repeat="label in assigned_labels">
        <p class="label" ng-style="{'background-color': labels[label].color}">{{labels[label].name}}</p>
    </div>
    <p ng-hide="assigned_labels.length">No label assigned.</p>
    <md-divider></md-divider>
    <h2>Events</h2>
    <div class="events" ng-repeat="event in events">
        <div ng-if="event.type == 0">
            <p><i class="material-icons event-icons">check_box_outline_blank</i>opened by {{users[event.user].name}}</p>
        </div>

        <div ng-if="event.type == 1">
            <p><i class="material-icons event-icons">check_box</i>closed by {{users[event.user].name}}</p>
        </div>

        <div ng-if="event.type == 2">
            <p><i class="material-icons event-icons">comment</i>comment by {{users[event.user].name}}, content: <div markdown-to-html="event.content"></div></p>
        </div>
    </div>
    <p ng-hide="events.length">No event found.</p>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="write">
            <md-input-container class="md-block">
                <label>Comment</label>
                <textarea ng-model="comment"></textarea>
            </md-input-container>
        </md-tab>
        <md-tab label="preview">
            <p ng-show="comment != null" markdown-to-html="comment"></p>
            <p ng-show="comment == null">Nothing to preview.</p>
        </md-tab>
    </md-tabs>
    <md-button ng-click="submit_comment(comment); comment = '';" class="md-raised md-primary">Submit Comment</md-button>
    <md-button ng-click="update_status()" class="md-raised">{{update_status_texts[todo.status]}}</md-button>
</div>